:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: #4a4a56;
  color: rgba(255, 255, 255, 0.87);
  background-color: #4a4a56;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --wueblue: #063d79;
  --lightblack: #4a4a56;
  --lightgray: #adadad;
  --customred: #ed2939;
}

a {
  font-weight: 500;
  color: whitesmoke;
  text-decoration: inherit;
}
a:hover {
  color: whitesmoke;
}

html, body {
  margin: 0;
  /*display: none;*/
  place-items: center;
  /*min-width: 100%;*/
  /*min-height: 100%;*/
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: whitesmoke;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: whitesmoke;
    background-color: #ffffff;
  }
  a:hover {
    color: whitesmoke;
  }
  button {
    background-color: #f9f9f9;
  }
}


ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20% 20%;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: whitesmoke;
}
hr {
  background-color: var(--lightgray);
}
